*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#0b0f14;
color:#e6edf3;
text-align:center;
}

/* HERO */
.hero{
padding:120px 20px 40px;
}

.hero h1{
font-size:60px;
}

.hero h2{
color:#00ff9c;
margin:10px 0 25px;
}

.resume-btn{
display:inline-block;
background:#00ff9c;
color:#000;
padding:12px 25px;
border-radius:8px;
font-weight:600;
}
.resume-btn i{margin-right:6px;}

/* IMAGE */
.center-img img{
width:220px;
height:220px;
border-radius:50%;
border:3px solid #00ff9c;
margin:40px auto;
display:block;
}

/* ABOUT */
.about{
max-width:900px;
margin:auto;
padding:40px 20px;
}

.about h2{
margin-bottom:25px;
}

.about p{
margin-bottom:22px;
line-height:1.8;
color:#9aa4ad;
}

.location{
margin-top:20px;
color:#00ff9c;
font-weight:600;
}

/* ARSENAL */
.arsenal{
padding:60px 20px;
}

.domain{
border:1px solid #00ff9c33;
padding:20px;
margin:15px auto;
max-width:500px;
border-radius:10px;
}

/* CERT */
.cert{
padding:60px 20px;
}

.cert-card{
border:1px solid #00ff9c33;
padding:30px;
max-width:500px;
margin:auto;
border-radius:12px;
}

.verify{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#00ff9c;
color:#000;
border-radius:6px;
font-weight:600;
}

/* CONTACT */
.contact{
padding:60px 20px;
}

table{
margin:auto;
border-collapse:collapse;
}

td{
border:1px solid #1f2933;
padding:12px 25px;
}
.hidden{
opacity:0;
transform:translateY(40px);
transition:1s;
}
.show{
opacity:1;
transform:translateY(0);
}
.hidden{
opacity:0;
transform:translateY(40px);
transition:1s;
}
.show{
opacity:1;
transform:translateY(0);
}
